@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Configurando fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}


/* Configurações Globais */
:root {  

    --container-bg-color: #333;
 
    --button-hover-color: rgba(152, 152, 155, 0.5);
    --hover-width: 100%;
    --other-width: 0%;
    --speed: 1000ms;
}



  /* Configurando o corpo do gerador */
html, body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}


.logo {
    display: block;
    margin-left: 30%;
    margin-right: auto;
    width: 35%;


}

h2 {

    margin-left: 41%;
    margin-right: auto;
    width: 20%;  
    font-family: 'Mulish';
}
  
  .container {
    position:relative;
    width:100%;
    height:100%;
}
  
.split {
    position:absolute;
    width:50%;
    height:100%;
    overflow:hidden;
}
  
.split.left{
    left:0;
    background:url("/img/black.jfif") center center no-repeat;
    background-size: cover;
    width: 100%;
}
  
 
#generator-container{
    opacity:.8;
    position:absolute;
    top:3%;
    left:36%;
} 

  
#submit:hover{
    background-color:var(--button-hover-color);
}
  

#form {
    background:rgba(0, 0, 0, 0.6);
    padding:3%;
    color:white;
    text-align: center;
    margin-right:67%;
    margin-left: 0%;
}

#text-input {
    width: 100%;
    

}

/* Configurando radio-buttons */
#mood{
    display:block;
    margin-top:2.5%;
    }
    
    #mood > label{
    font-family: 'Mulish', cursive;
    font-weight: bold;   
    
}

/* Configurando botão de gerar sigilos */
#submit {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


 /* Configurando canva que receberá os sigilos */ 
#generator {
    background:rgba(41, 39, 39, 0.8);
    background-image: "";
}
  
#left-arrow{
    width:40px;
    position:absolute;
    top:45%;
    right:95%;
}
  
#right-arrow{
    width:40px;
    position:absolute;
    top:45%;
    left:95%;
}
  
#text-input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
}
  
  #input{
    font-size: 40px;
}

/* Botão que executa o preenchimento do sigilo na imagem. Como não estava funcional do projeto original, eu o removi *;
  #save{
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:200px; width:200px;
    cursor:pointer
}

*/


/* Configurando o botão Download */
#download {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-left: 8%;
}

#download:hover {
    background-color:var(--button-hover-color);
}

h3 {
    color: #fff;
    margin-left: 0%;
    width: 2px;
}

h3 {
    width: 200px;
}

p {
    margin-right: 65%;
    
}


  /* configurando app para formato celular */

@media (max-width: 667px) { 

    .logo {

        margin-left: 40%;
    }

    h2 {

        margin-left: 45%

    }

    .split.left {
        width: 100%;
        height: 0%;
    }

    #form {        
       
        margin-right: 2%;
        width: 400px;     
    }   
    #generator {

        width: 70%;
        height: 30%;
        margin-left: 10%;
                
    }

    #download {
        
        margin-left: 10%;
    }

    h3 {
        width: 1px; 
        margin-left: 10%;      

    }

    p  {
        margin-right: 100px;                

    }
  
}

@media (max-width: 1024px) {

    .split.left{
        width: 200%;
        height: 85%;
    }

    #form {         
        
        width: 400px;     
    }   

    #download {
        
        margin-left: 20%;
    }

    h3 {
        margin-right: 50%;
        height: 20px;

    }

    p  {
        margin-right: 100px;                

    }

}



 
  
  


  